<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html lang={{ LANGUAGE_CODE }}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% trans "Jewellery" %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'jewellery/css/base.css' %}">
</head>
<body>
    <header>
        <div class="container">
            {% block nav %}
                <ul>
                    <li>
                        <a href="{% url 'index' %}">{% trans "Home" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">{% trans "All Jewellery" %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans "Categories" %}<span class="arrow">&#x25BC;</span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>{% for filter_category in categories %}
                                <li>{{ filter_category.link_filtered_products }}</li>
                            {% endfor %}</li>
                        </ul>
                      </li>
                    <li>
                        <span class="spacer"></span>
                    </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}">{{ user }}</a>
                    </li>
                    <li>
                        <a href="{% url 'user_orders' %}">{% trans "My Orders" %}</a>
                    </li>
                    {% if user.is_superuser or user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
                        </li>
                    {% endif %}  
                    <li>
                        <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'register' %}">{% trans "Register" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}{% if not '/accounts/' in request.path %}?next={{ request.path }}{% endif %}">{% trans "Login" %}</a>
                    </li>
                {% endif %}
                        <span>
                            <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.path }}">
                                {% for lang in LANGUAGES %}
                                    <button type="submit" name="language" value="{{ lang.0 }}" >{{ lang.0|upper|slice:2 }}</button>
                                {% endfor %}
                            </form>
                        </span>
                </ul>
            {% endblock nav %}
        </div>
    </header>
    <main>
        <div class="container">
            {% if messages %}
                 {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer>
        <div class="container">
            {% block footer %}
            <p>{% trans "(C) 2022 Jewellery workshop management system" %}</p>
            {% endblock footer %}
        </div>
    </footer>
</body>
</html>