{% extends 'jewellery/base.html' %}
{% load i18n %}
{% block title %}{% trans "Order details" %}{% endblock title %}
{% block content %}
<h1>{% trans "Order details" %}:</h1>
{% if object.order_lines.count > 0 %}
<ul>
<li>{% trans "Order ID" %}: {{ object.order_lines.first.order.id }}</li>
<li>{% trans "Total amount" %}: {{object.order_lines.first.order.total }}€</li>
<li>{% trans "Order Date" %}: {{ object.order_lines.first.order.date }}</li>
<li>{% trans "Due Date" %}: {{ object.order_lines.first.order.due_date }}</li>
</ul>
{% endif %}
<div class="table_grid order_table">
    <div class="table_grid_cell center dark">{% trans "Product" %}</div>
    <div class="table_grid_cell center dark">{% trans "Quantity" %}</div>
    <div class="table_grid_cell center dark">{% trans "Price" %}</div>
    <div class="table_grid_cell center dark">{% trans "Ring size, hand, finger" %}</div>
    <div class="table_grid_cell center dark">{% trans "Weight" %}</div>
    <div class="table_grid_cell center dark">{% trans "Photo" %}</div>
    {% for line in object.order_lines.all %}
        <div class="table_grid_cell center">{{ line.product.name }}</div>
        <div class="table_grid_cell center">{{ line.quantity }}</div>
        <div class="table_grid_cell center">{{ line.price }}</div>
        <div class="table_grid_cell center">{{ line.ring_size }}; {{ line.hand }} {% trans "hand" %}; {{ line.finger }}</div>
        <div class="table_grid_cell center">{{ line.weight }}</div>
        <div class="table_grid_cell center"><img src="{{ object.photo.url }}"></div>
        
        
    {% endfor %}

{% endblock content %}