{% extends 'jewellery/base.html' %}
{% load static i18n %}
{% block title %}{% trans "Jewellery in" %} {{ block.super }}{% endblock title %}
{% block content %}
    <h1>{{ category }}</h1>
    <div class='search'>
        <form action="{% url 'products' %}" method="get">
            <input type="text" name="search" value="{{ request.GET.search }}">
            <button type="submit">{% trans "search" %}</button>
        </form>
    </div>
    <ul class="product_list">
        {% for product in product_list %}
            <li class="product">
                <a href="{% url 'product' product.pk %}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}">
                    {% else %}
                        <img src="{% static 'jewellery/img/ring_icon.jpg' %}">
                    {% endif %}
                    <h3>{{ product.name }}</h3>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div></div>
        <div class='paginator'>
            {% if page_obj.has_previous %}
                <a href="?{%if request.GET.search %}search={{ request.GET.search }}&{% endif %}{%if request.GET.category_id %}category_id={{ request.GET.category_id }}&{% endif %}page=1">{% trans "First" %}</a>
                <a href="?{%if request.GET.search %}search={{ request.GET.search }}&{% endif %}{%if request.GET.category_id %}category_id={{ request.GET.category_id }}&{% endif %}page={{ page_obj.previous_page_number }}">&#129120</a>
            {% endif %}
            {{ page_obj.number}} / {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
                <a href="?{%if request.GET.search %}search={{ request.GET.search }}&{% endif %}{%if request.GET.category_id %}category_id={{ request.GET.category_id }}&{% endif %}page={{ page_obj.next_page_number }}">&#129122</a>
                <a href="?{%if request.GET.search %}search={{ request.GET.search }}&{% endif %}{%if request.GET.category_id %}category_id={{ request.GET.category_id }}&{% endif %}page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
            {% endif %}
        </div>
{% endblock content %}