body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    background-color: rgb(47, 47, 61);
}

header a {
    color: rgb(235, 235, 235);
    display: block;
    height: 64px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    text-transform: uppercase;
    font-size: 14px;
}

.dropdown-menu {
    position: absolute;
    background-color: rgb(47, 47, 61);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    display: block;
    
}

header a:hover {
    background-color:  rgba(47, 47, 61, 0,3);
}

header ul {
    list-style: none;
    display: flex;
}

header li {
    width: 100%;
    text-align: center;
    position: relative;
}

header li:hover .dropdown-menu > li {
    display: block;
    top: 0px;
}

.arrow {
    margin-left: 8px;
    font-size: 12px;
}

header button {
    background-color: rgb(47, 47, 61);
    font-size: 14px;
    border: 1px solid rgb(47, 47, 61);
}

.spacer {
    flex-grow: 1;
}

header .container span {
    align-self: center;
    color: rgb(235, 235, 235);
}



main, footer {
    min-width: fit-content;
}

.container {
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
}

h1, h3 {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

h1, h2, h3, p {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    color: rgb(35, 34, 38);
}

main {
    flex-grow: 2;
}

footer {
    background-color: rgb(47, 47, 61);
    font-size: 13px;
}

footer p {
    color: rgb(235, 235, 235);
}

footer .container {
    display: flex;
    align-content: stretch;
}

ul {
    list-style: none;
    padding: 0;
}

.product a {
    text-decoration: none;
    text-transform: uppercase;
}

.body ul li a {
    color:rgb(43, 41, 46)
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.paginator {
    margin: 1rem;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 0.25rem;
    margin: 0.05rem;
    text-decoration: none;
    border: 1px solid rgb(47, 47, 61);
    border-radius: 0.5rem;
}

/* .paginator span {
    background-color:  rgb(47, 47, 61);
    color: white;
} */

.paginator a {
    background-color:   white;
}

.search form {
    display: inline-block;
}

ul.product_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

ul li.product {
    flex-basis: 19rem;
    padding: 35px;
}

img {
    max-width: 100%;
}

ul.product_list li.product h3 {
    margin-top: 0;
}

table {
    margin: 0.5rem 1rem;
}

.form_error { 
    color: rgb(184, 35, 35);
}

.table_grid {
    display: grid;
    padding: 0.5rem;
}

.form_grid {
    grid-template-columns: 6rem auto;
}

.form_grid div {
    display: inline-block;
    align-self: stretch;
    justify-self: stretch;
    padding: 0.5rem;
}

.form_grid input [type="text"], .form_grid input [type="email"], .form_grid input [type="password"] {
    width: 50%;
}

.my_orders_table {
    grid-template-columns: 5fr 1fr 1fr 1fr;
}

.table_grid_cell {
    display: inline-block;
    align-self: stretch;
    justify-self: stretch;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    border-bottom: 1px solid rgb(47, 47, 61);
}

.center {
    text-align: center;
}

.dark {
    background-color: rgb(59, 59, 66);
    color: white;
}

.overdue {
    color: rgb(184, 35, 35);
    font-weight: bold;
}

.alert {
    padding: 0.5rem 1rem;
}

.alert-error {
    color: rgb(184, 35, 35);
}

.alert-success {
    color:  rgb(47, 47, 61);
}

.float_right {
    float: right
}

.product_review {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0;
}

.review_form label {
    display: none;
}

.review_form {
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 3px solid rgb(47, 47, 61);
}

.user-profile-photo {
    max-width: 15rem;
    border-radius: 3rem;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
}

.flex-profile {
    display: flex;
    place-items: stretch stretch;
}

.button {
    background-color: rgb(148, 148, 158);
    color:rgb(47, 47, 61) ;
    border-radius: 0.25rem;
    padding: 0.25rem;
    text-decoration: none;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.product_review h4 img {
    max-height: 1.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    float: left;
}

h1 img {
    max-height: 3rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    float: left;
}